/* .profile-dropdown {
  position: absolute;
} */

.lower-nav-bar {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 3.375rem;
  padding: 0 16px 0 32px;

  .nav-left {
    display: flex;
    flex-direction: row;

    .nav-log {
      padding-left: 10px;
    }

    .nav-location-menu {
      padding: 0 16px;
      border-left: 1px solid #0000000f;
      margin-left: 8px;
    }
  }

  .nav-right {
    align-items: center;
    display: flex;
    height: 100%;

    .nav-user-state {
      display: flex;
      justify-content: space-between;
      border-right: 1px solid #0000000f;
      margin-right: 16px;
    }

    .nav-search {
      align-items: center;
      box-sizing: border-box;
      display: flex;
    }

    .profile-buttons {

      .nav-user {
        background-color: transparent;
        border: 0;
      }

      .nav-calendar {
        background-color: transparent;
        border: 0;
      }

      .nav-bell {
        background-color: transparent;
        border: 0;
        padding-right: 16px;
      }
    }

    .nav-signout-state {
      .nav-signup {
        background-color: #247f9e;
        border: 0.0625rem solid #247f9e;
        color: #ffffff;
        border-radius: 0.1875rem;
        font-size: 14px;
        margin: 0 8px;
        cursor: pointer;
        line-height: 2rem;
        padding: 0 16px;
      }

      .nav-signin {
        background-color: initial;
        border: 0.0625rem solid #d8d9db;
        color: #2d333f;
        border-radius: 0.1875rem;
        font-size: 14px;
        margin: 0;
        padding-right: 16px;
        cursor: pointer;
        line-height: 2rem;
        padding: 0 16px;

      }
    }
  }
}