#signin-modal {
  display: flex;
  height: 400px;
  width: 450px;
  margin-bottom: 300px;
  

  #signin-modal-wrapper {

    #signin-modal-inner {
      padding-top: 4.5rem;
      background-color: #fff;
      min-height: calc(48.0625rem - 96px);
      padding: 48px 32px;
      border-radius: 3px;

      #signin-modal-title {
        margin: 0 0 4px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.5rem;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      #signin-modal-text {
        margin: 4px 0 32px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #2d333f;
      }

      #signin-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #signin-email {
          font-size: 17px;
          padding-top: 17px;
          padding-bottom: 10px;
          border-radius: 5px;

        }

        #signin-password {
          font-size: 17px;
          padding-top: 17px;
          padding-bottom: 10px;
          border-radius: 5px;
          margin-top: 10px;
        }

        #signin-modal-button {
          padding-top: 17px;
          padding-bottom: 17px;
          border-radius: 5px;
          margin-top: 20px;
          background-color: #da3743;
          border: none;
          color: #fff;
          font-size: large;
          cursor: pointer;
        }

        #signin-modal-button:hover {
          transition-duration: 0.2s;
          background: #a62932;
        }


        input::placeholder {
          font-size: 20px;
        }

        #demo-user {
          padding-top: 17px;
          padding-bottom: 17px;
          border-radius: 5px;
          margin-top: 20px;
          background-color: #0d1b45;
          border: none;
          color: #fff;
          font-size: large;
          cursor: pointer;
        }

        #demo-user:hover {
          transition-duration: 0.2s;
          background: #274bb7;
        }

        #create-one {
          margin-top: 15px;
          font-size: 18px;
          // text-decoration: underline;

           #create-one-inner {
            // text-decoration: underline;
            color:#da3743;
           }
        }

      }
    }
  }
}