// .search-header {
  
// }

.seacrch-bar {
  display: flex;
  justify-content: center;
}

.dtp {
  display: flex;
  flex-direction: row;
}

.header-sent {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  /* font-family: Brandon text; */
}

.search-container {
  display: flex;
  justify-content: center;
}