#search-header {
  min-height: 0;
  padding: 32px 0;
  background: linear-gradient(.647turn, #1a0a47cc, #0d1b4599 .01%, #0d1b45cc 51.04%, #0d1b45 99.1%);
}

#main-content {
  background-color: #fff;
  padding-top: 0.0625rem;
  width: 100%;
  display: block;
}